*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Container-social*/
.container-social{
    position: relative;
    font-size: 25px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: rgb(41, 39, 36);
    color: white;
    position: relative;
}

#pageTitle {
    position: absolute;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-social p {
  margin-left: 75%;
}

.container-social p, .container-social a{
padding: 3px;
}

/*Carrinho de compras:hover(menu)*/
  .container-carrinhoMenu{
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: rgb(41, 39, 36);
    border: none;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-social:hover .container-carrinhoMenu{
    display: block;
  }

 .container-carrinhoMenu  a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
  }

 .container-carrinhoMenu  a:hover {
    color: rgb(250, 150, 0);
  }
  /*Carrinho de compras:hover(menu) Fim*/

  .container-social img {
    cursor: pointer;
  }
  /*Container-social Fim*/

  /*Home*/
.home{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.home a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 150, 0);
    background-color: none;
    text-decoration: none;
    width: 10vh;
    padding: 0 8vh;
}

.home a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 10vh;
    height: 6vh;
    background-color: rgb(250, 150, 0);
    border-radius: 5px;
}

.home-itens{
   display: flex;
   align-items: center;
   list-style: none;
   gap: 0px;
   margin: 0;
   padding:0 50vh;
}
/*Home Fim*/
.container-items {
    display: flexbox;
    justify-content: center;
    align-items: center;
    justify-content: baseline;
}
.display-produtos {
  display: block;
  height: 10rem;
  width: 9rem;
  border-radius: 10px;
  margin-left: 2rem;
}

.amido{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }

.arroz{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }

.acucar{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }

.coca-cola{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }

.farinha-trigo{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }

.alcatra{
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }
